{% extends 'base.html.twig' %}

{% block title %}Digiitek{% endblock %}




{% block body %}


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Run</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link rel="stylesheet" href="vue.css" />
</head>

<body>
  <div id="imagePrincipale" >
    <h1>DIGIITEK </h1>
    <div  id="premierTrait"></div>
    <h3>L'art d'être créatif</h3>
    
  </div>


  <section>
    <div class="container">
      <div>
     <center>   <h1>About US</h1>
        <p>We are a start-up in Subic Bay Freeport Zone, Philippines seeking for great opportunities in the Software Industry. Our company leaders have many years of experience in the US building high traffic Web Applications. We build applications that can make each and everyone's quality of life a little better.



          Build software solutions using innovative thinking through teamwork</p></center><br><br><br>


          <center>   <h1>Nos services</h1> </center>
        
      </div>
    </div>
    <div class="img-banner"></div>
  </section>

  <section class="section-1" >
    <div class="img"></div>
    <div class="container">
      <div>
        <h3>Développement d'application web & mobile</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel
          massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium
          massa et, hendrerit vestibulum odio lorem ipsum dolor sit amet.</p>
       
      </div>
    </div>
  </section>

  <section class="section-2" >
    <div class="container">
      <div>
        <h3>Installation des réseaux informatiques</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel
          massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium
          massa et, hendrerit vestibulum odio lorem ipsum dolor sit amet.</p>
      
      </div>
    </div>
    <div class="img"></div>
  </section>

  <section class="section-3">
    <div class="img"></div>
    <div class="container">
      <div>
        <h3>Mise sur pied des bases de données</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel
          massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium
          massa et, hendrerit vestibulum odio lorem ipsum dolor sit amet.</p>
       
      </div>
    </div>
  </section>

  <section class="section-4">
    <div class="container">
      <div>
        <h3>Marketing digital</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel
          massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium
          massa et, hendrerit vestibulum odio lorem ipsum dolor sit amet.</p>
        
      </div>
    </div>
    <div class="img"></div>
  </section>


</body>
<style>

@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');

html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Source Sans Pro", sans-serif;
  }
  #imagePrincipale {
    padding-top: 60px;
    background: url(img/cover.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
  }
  #premierTrait {
    height: 2px;
    width: 25%;
    margin: -3px auto;
    background-color: rgb(5, 253, 17);
    box-shadow: 1px 3px 2px black;
  }

  h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: rgb(5, 253, 17);
    font-size: 4em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px black;
  }

  h3 {
  text-align: center;
  color:rgb(5, 253, 17);
  font-size: 3em;
  text-shadow: 1px 3px 2px black;
}

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px;
  }

.section-1,
.section-2,
.section-3,
.section-4,
.contact {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.082);
}

section {
    min-height: 40vh;
    display: grid;
    
    
  }

  /**************** SECTION 1 ****************/


.section-1 {
    display: grid;
    grid-template-columns: 37% 63%;
    min-height: 400px;
  }
  .section-1 .img {
    background: url(img/dev.jpg) center/cover;
    border-radius: 10px;
  }

/**************** SECTION 2 ****************/

  .section-2 {
    display: grid;
    grid-template-columns: 65% 35%;
    min-height: 400px;
    
  }
  .section-2 .img {
    background: url(img/reseau.jpg) center/cover;
    border-radius: 10px;
    
  }

  /**************** SECTION 3 ****************/


.section-3 {
    display: grid;
    grid-template-columns: 37% 63%;
    min-height: 400px;
  }
  .section-3 .img {
    background: url(img/soft.jpg) center/cover;
    border-radius: 10px;
  }

  /**************** SECTION 4 ****************/

  .section-4 {
    display: grid;
    grid-template-columns: 65% 35%;
    min-height: 400px;
  }
  .section-4 .img {
    background: url(img/digital.jpg) center/cover;
    border-radius: 10px;
  }


</style>


{% endblock %}



