{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
<div class="row">

  <div class="column large-121 tab-12">
  
    {{form_start(form)}}
    {{form_row(form)}}
    {{form_end(form)}}

  </div>
    
</div>
{% endblock %}
