{% extends 'base.html.twig' %}

{% block title %}Nous rejoindre{% endblock %}

{% block body %}
<div class="row ">

  <div class="column large-121 tab-12 btn btn-lg btn-primary pt-15">

  {% for message in app.flashes('success')%}
    <div class="flash-notice ">
    {{ message }}
    </div>
    {% endfor %}
  
    {{form_start(form)}}
    {{form_row(form)}}
    <button class="btn btn-lg btn-primary pt-15" type="submit">Envoyer</button>
    {{form_end(form)}}

  </div>
    
</div>
{% endblock %}
