

@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');

html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Source Sans Pro", sans-serif;
  }
  #imagePrincipale {
    padding-top: 60px;
    background: url(/assets/img/cover.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
  }
  #premierTrait {
    height: 2px;
    width: 25%;
    margin: -3px auto;
    background-color: rgb(5, 253, 17);
    box-shadow: 1px 3px 2px black;
  }

  h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: rgb(5, 253, 17);
    font-size: 4em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px black;
  }

  h3 {
  text-align: center;
  color:rgb(5, 253, 17);
  font-size: 3em;
  text-shadow: 1px 3px 2px black;
}

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px;
  }

.section-1,
.section-2,
.section-3,
.section-4,
.contact {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.082);
}

section {
    min-height: 40vh;
    display: grid;
    
    
  }

  /**************** SECTION 1 ****************/


.section-1 {
    display: grid;
    grid-template-columns: 37% 63%;
    min-height: 400px;
  }
  .section-1 .img {
    background: url(img/dev.jpg) center/cover;
    border-radius: 10px;
  }

/**************** SECTION 2 ****************/

  .section-2 {
    display: grid;
    grid-template-columns: 65% 35%;
    min-height: 400px;
    
  }
  .section-2 .img {
    background: url(img/reseau.jpg) center/cover;
    border-radius: 10px;
    
  }

  /**************** SECTION 3 ****************/


.section-3 {
    display: grid;
    grid-template-columns: 37% 63%;
    min-height: 400px;
  }
  .section-3 .img {
    background: url(img/soft.jpg) center/cover;
    border-radius: 10px;
  }

  /**************** SECTION 4 ****************/

  .section-4 {
    display: grid;
    grid-template-columns: 65% 35%;
    min-height: 400px;
  }
  .section-4 .img {
    background: url() center/cover;
    border-radius: 10px;
  }

