<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <a class="h5 my-0 me-md-auto fw-normal" href="{{ path('home')}}">Digiitek</a>
  <nav class="my-2 my-md-0 me-md-3">
    
    <a class="p-2 text-dark" href="#">Reférences</a>
    <a class="p-2 text-dark" href="#">Actualité</a>
    <a class="p-2 text-dark" href="{{ path('contact')}}">Contact</a>
  </nav>
  <a class="btn btn-outline-primary" href="{{ path('app_login')}}">S'authentifier</a>
  <a class="btn btn-outline-primary" href="{{ path('register')}}">Nous rejoindre</a>
</header>


